<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <h1>Page content</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste, molestias totam tempore obcaecati magnam sed expedita ducimus repellat molestiae cumque ullam doloremque atque laboriosam dolor eaque ea voluptas impedit nam!\</p>
    </div>
</body>
</html>